@font-face {
  font-family: 'icomoon';
  src:  url('./fonts4/icomoon.eot?mdm1jr');
  src:  url('./fonts4/icomoon.eot?mdm1jr#iefix') format('embedded-opentype'),
    url('./fonts4/icomoon.ttf?mdm1jr') format('truetype'),
    url('./fonts4/icomoon.woff?mdm1jr') format('woff'),
    url('./fonts4/icomoon.svg?mdm1jr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog-outline:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e903";
}
.icon-home1:before {
  content: "\e904";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-fire:before {
  content: "\e907";
}
.icon-home11:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}


/* Agregando los estilos de los iconos */
.heart-buttom
{
  font-size: 35px;
  color: white;
}

.home-buttom
{
  font-size: 35px;
  color: white;
}

.settings-buttom{
  font-size: 35px;
  color: white;
}

.fire-buttom{
  font-size: 35px;
  color: white;
}

.badge{
  grid-area: badge;
}
.badge img{
  width: 40px;
  height: 40px;
  padding: 1.5em 0;
}

.title{
  grid-area: badge;
  margin: 0;
  margin-left: 45px;
  font-size: 16px;
  font-weight: normal;
}

.title h1{
  margin: 0;
  padding: 0.8em 0;
}

.form{
  grid-area: form;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5em 0;
  border-radius: 10px;
}

.form input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbdbe2;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
}

.user{
  grid-area: user;
}

.user p{
  padding: 2em 0;
  margin: 0;
  margin-left: 40px;
}
.LogoUser
{
  grid-area: user;
}
.LogoUser img{
  grid-area: user;
  width: 40px;
  height: 40px;
  padding: 1.5em 0;
}
.hero{
  background: white;
  padding: 32px 15px;
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;  
}
.hero-container{
  display: grid;
  grid-template-columns: 184px 1fr 248px;
  grid-template-areas: "badge form user";
  gap: 10px; 
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.movie{
  display: grid;
  margin: 1%;
  border-radius: 10px;
  overflow: hidden;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  /* background-color: #f4fbff; */
}
.movie-container img{
  max-width: 100%;
}
.movie-detail
{
  /* margin: 20px 40px; */
  margin-top: -100px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.795);
  position: relative;
  text-align: center;
  color: black;
}

.movie-container{
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr;
  grid-template-areas: "menu titulo1 . . "
                       "menu movie1 movie2 movie3"
                       "menu titulo2 titulo2 . "
                       "menu movie4 movie5 movie6"
                       "menu titulo3 . ."
                       "menu movie7 movie8 movie9";
  gap: 20px;
  justify-content: center;
}
.movie-menu{
  grid-area: menu;
  background-color: rgba(212, 71, 20, 0.795);
}
.movie1{
  grid-area: movie1;
}
.movie2{
  grid-area: movie2;
}
.movie3{
  grid-area: movie3;
}
.movie4{
  grid-area: movie4;
}
.movie5{
  grid-area: movie5;
}
.movie6{
  grid-area: movie6;
}
.movie7{
  grid-area: movie7;
}
.movie8{
  grid-area: movie8;
}
.movie9{
  grid-area: movie9;
}
ol,
li{
  margin:0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#settingsLi{
  margin-top: 1100%;
}
#homeli{
  margin-top: 25%;
}
.titulo1{
  grid-area: titulo1;
}
.titulo2{
  grid-area: titulo2;
}
.titulo3{
  grid-area: titulo3;
}

/* //RESPONSIVE  */

@media screen and (max-width: 768px){
  .hero-container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "badge badge"
                         "user user"
                         "form form";
    gap: 0px;
  }
  .form{
    padding: 0;
  }
  .badge img{
    margin-left: 30%;
  }
  .user p{
    padding: 0;
    text-align: center;
  }
  .LogoUser img{
    padding: 0;
    margin-left: 30%;
  }
  .title h1{
    text-align: center;
  }
  .movie-container{
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-areas: "menu titulo1 titulo1 "
                         "menu movie1 movie2"
                         "menu movie3 movie4"
                         "menu titulo2 titulo2"
                         "menu movie5 movie6"
                         "menu titulo3 titulo3 "
                         "menu movie7 movie8"
                         "menu movie9 .";
    gap: 5px;
    justify-content: center;
  }
  #settingsLi{
    margin-top: 1750%;
  }
  .movie-detail{
    font-size: 0.75em;
    margin-top: -75px;

  }
}
@media screen and (max-width: 480px){
  .movie-detail{
    padding: 10px;
  }
  .movie-container{
    grid-template-columns: 0.2fr 1fr 1fr;
  }
  .movie-container img{
    max-width: 130%;
    margin-left: -20px;
  }
  .movie-detail{
    font-size: 0.6em;
  }
  h2{
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .heart-buttom
  {
    font-size: 25px;
    color: white;
  }

  .home-buttom
  {
   font-size: 25px;
   color: white;
  }

  .settings-buttom{
    font-size: 25px;
   color: white;
  }

  .fire-buttom{
    font-size: 25px;
    color: white;
  }
  ol,li{
    font-size: 0.8em;
  }
  #settingsLi{
    margin-top: 2500%;
  }
  .title h1{
    padding: 0;
  }
  .badge img{
    padding: 0;
    margin-left: 20%;
  }
  .LogoUser img{
    margin-left: 20%;
  }
  .form input{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px){
  .movie-container img{
    max-width: 225%;
  }
  .movie-detail{
    font-size: 0.25em;
    margin-top: -35px;
  }
}